<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" href="/search">
            <img src="/images/train.png" alt="" width="30" height="30" class="d-inline-block align-text-top m-2">
            <h5 class="d-inline-block align-text-top m-2">Ticketac</h5>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-danger fw-bold" href="/connect">Connection
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active " href="/lasttrips">My last trips
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>